@import "../node_modules/sanitize.css/sanitize";

html {
	-webkit-tap-highlight-color: transparent;
}

:focus {
	outline: 0;
}

.hidden {
	display: none;
}

@import '../node_modules/google-material-color/dist/palette';
@import '../node_modules/webpack-material-design-icons/material-design-icons';

@import './partials/heading';

@import "./components/drawer";
@import "./components/header";
@import './components/toast';
